a:link {
  color: #800000;
  text-decoration: underline;
}

a:visited {
  color: #800000;
  text-decoration: underline;
}

a:hover {
  color: #26190D;
  text-decoration: none;
}

a:active {
  color: #26190D;
  text-decoration: none;
}

.navbar a:link, .navbar a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img.float-start {
  margin: 1rem 1rem 1rem 0;
}

img.float-end {
  margin: 1rem 0 1rem 1rem;
}

/* https://github.com/wuliupo/getbootstrap/blob/1abe20cd7482b16d18cce6f0dd20bda263b670b5/assets/css/src/docs.css
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}